@media screen and (min-width: 320px)
{
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.containerform{
  max-width: 960px;
}
.containertable{

  max-width: 960px;
   
}

.bigcontainer{
   max-width: 960px;
    
}

.header{

  max-width: 960px;
  
  background-image:url("https://demo.qodeinteractive.com/bridge101/wp-content/uploads/2015/05/title01.jpg");
}

.header,.footer{
        width: 100vw;
      }

header::after{
  content: "";
  clear: both;
  display: block;
}
.descript{
  color: #345F97;
 
}
.nav{
background-color: silver;
max-width: 960px;
}

.table{
    border-collapse: collapse;
    border: 1px solid grey;
   }
th {border: 1px solid grey;}
td {border: 1px solid grey;}

.ch{
    background-color: silver;
}
.n{
    background-color: white;
}
.footer{
  height : 20px;
  background: silver; 
  color: black;
 
}

